*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #010133;
}

header{
	width: 100%;
	height: auto;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
}

#header-left{
	width: 35%;
	position: relative;
	display: flex;
}

header #image{
	width: 7rem;
}
header #image img{
	width: 100%;
}

header #logo-name{
	width: 10rem;
	color: white;
	margin-left: 10px;
	padding-top: 15px;
}
header #logo-name span{
	display: block;
	font-size: 1.5rem;
}
header #favourite{
	width: 2rem;
	color: white;
	align-self: center;
	flex-grow: 1;
	padding-left: 50px;
}
#header-right{
	width: 55%;
	padding: 1rem;
	display: flex;
	align-items: center;
}
#header-right #search-bar{
	width: 70%;
	height: 50px;
	border-radius: 20px;
	padding: 5px;
	position: relative;
	background-color: #5050ff4d;
	margin-right: 55px;
}

#header-right #search-bar input{
	width: 85%;
	font-size: 1.6rem;
	outline: none;
	border: none;
	padding: 5px;
	padding-left: 15px;
	color: white;
	background-color: #5050ff00;
}

#header-right #search-bar span{
	color: white;
	font-size: 1.5rem;
	padding-left: 5px;
	font-weight: 100;
}
#header-right #search-bar input::placeholder{
	font-size: 1.7rem;
}

#header-right #search-bar span .fa-microphone{
	color: silver;
}

#header-right #noto-bell{
	font-size: 2rem;
	margin-right: 50px;
}

#header-right #noto-bell a{
	color: white;
}

#header-right #header-profile{
	width: 4rem;
	height: 4rem;
	
}

#header-right #header-profile img{
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 50%;
	
}


/*main*/

main{
	display: flex;
	margin-top: 1.2rem;
	position: relative;
}

#main-left{
	width: 53%;
	height: 100rem;
	margin-left: 80px;
}
#main-right{
	width: 35%;
	height:100vh;
	margin-right: 100px;
	padding: 1rem;
	position: sticky;
	top: 0;
	overflow-y:scroll;

}
#main-right::-webkit-scrollbar {
    display: none;
}

#margin-right-heading{
	margin-bottom: 3rem;
}

#main-right h1{
	display: inline-block;
	color:white;
}
#main-right #h2{
	display: inline-block;
	margin-left: 15rem;
	color: cyan;	
	position: relative;
}
#main-right #h2 a{
	color: cyan;
	text-decoration: none;
}
#main-right #h2 #queue-target{
	width:0;
	height: 0;
	position: absolute;
	top: 0;
	right: 0;
	overflow: hidden;
}
#main-right #h2 #queue-target span{
	display: inline-block;
	font-size: 19px;
	line-height: 1.2;
	padding: 5px;
}
#main-right #h2 #queue-target .fas{
	position: absolute;
	right: 0;
	top: 1;
}
#main-right #h2 #queue-target:target{
	height:60px;
	width: 150px;
	top: 1.8rem;
	right: 0;
	color:#222;
	background-color: white;
	z-index: 2;
}
#main-right h2 i{
	margin-left: 1.2rem;
	transform: rotate(180deg);
	cursor: pointer;
}
#main-right-content td{
	color:silver ;
	height: 6rem;
	width: 6rem;
	font-size: 1.5rem;
	padding: 15px;
	margin-left: 1rem;
}
#main-right-content .td{
	text-align: right;
}
#main-right-content td img{
	height: 100%;
	width: 100%;
	border-radius: 8px;
}

#main-right-content .heart{
	text-align: right;
	cursor: pointer;
}
#main-right-content .space{
	width: 12rem;
}