*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #010133;
}

header{
	width: 100%;
	height: auto;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
}

#header-left{
	width: 35%;
	position: relative;
	display: flex;
}

header #image{
	width: 7rem;
}
header #image img{
	width: 100%;
}

header #logo-name{
	width: 10rem;
	color: white;
	margin-left: 10px;
	padding-top: 15px;
}
header #logo-name span{
	display: block;
	font-size: 1.5rem;
}
header #favourite{
	width: 2rem;
	color: white;
	align-self: center;
	flex-grow: 1;
	padding-left: 50px;
}
#header-right{
	width: 55%;
	padding: 1rem;
	display: flex;
	align-items: center;
}
#header-right #search-bar{
	width: 70%;
	height: 50px;
	border-radius: 20px;
	padding: 5px;
	position: relative;
	background-color: #5050ff4d;
	margin-right: 55px;
}

#header-right #search-bar input{
	width: 85%;
	font-size: 1.6rem;
	outline: none;
	border: none;
	padding: 5px;
	padding-left: 15px;
	color: white;
	background-color: #5050ff00;
}

#header-right #search-bar span{
	color: white;
	font-size: 1.5rem;
	padding-left: 5px;
	font-weight: 100;
}
#header-right #search-bar input::placeholder{
	font-size: 1.7rem;
}

#header-right #search-bar span .fa-microphone{
	color: silver;
}

#header-right #noto-bell{
	font-size: 2rem;
	margin-right: 50px;
}

#header-right #noto-bell a{
	color: white;
}

#header-right #header-profile{
	width: 4rem;
	height: 4rem;
	
}

#header-right #header-profile img{
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 50%;
	
}


/*main*/

main{
	display: flex;
	margin-top: 1.2rem;
	position: relative;
	justify-content: space-around;
}

#main-left{
	width: 75%;
	height:auto;
	padding: 50px;
}
#main-left>div{
	margin-bottom: 3rem;
}
/* main-left-crousal-bar */
#crousal{
	display: flex;
	width: 100%;
	height: auto;
	justify-content: space-around;
}
#crousal>div{
	height: 15rem;
	width: 21rem;
}
#crousal img{
	height: 100%;
	width: 100%;
	transition: ease-in-out 0.5s;
}
#crousal img:hover{
	transform: scale(1.2);
}

/* latest-release */
#latest-release{
	width: 100%;
	height: auto;
	padding: 0.5rem;
	color: white;
}


/* latest-release-content */


#latest-release-content>div{
	height: 7rem;
	width: 40%;
	margin: 1rem 1rem 1rem 0rem;
	display: inline-block;
	padding: 3px;
	margin-left: 2rem;
}
.latest-rel-box td{
	height: 6rem;
	width: 30%;
	
}	
.latest-rel-box td img{
	height: 100%;
	width: 100%;
	opacity: 0.7;
}
.latest-rel-box  .td{
	width: 50%;
	padding: 0.8rem;
}
.latest-rel-box td i{
	display:block;
	margin-bottom: 0.8rem;
}
.latest-rel-box .time{
	width: 20%;
}

/* popualar-artist */

#pop-artist{
	color: white;
	height: auto;
	width: 100%;
	padding: 0.5rem;
}
#pop-artist-container{
	display: flex;
	width: 100%;
	height: auto;
	justify-content: space-around;
	margin-top: 2rem;
}
#pop-artist-container > div{
	height: 10rem;
	width: 10rem;
	padding: 0.5rem;
	text-align: center;
	position: relative;
}
#pop-artist-container img{
	height: 81%;
	width: 81%;
	border-radius: 50%;
	margin-bottom: 0.5rem;
}
#pop-artist-container #i{
	height: 100%;
	width: 100%;
	opacity: 0;
	position: absolute;
	top:0;
	transition: ease-in-out 0.5s;
}

 #pop-artist-container i{
	position: absolute;
	top:35%;
	right: 45%;
	
	font-size: 2rem;
}
#pop-artist-container #i:hover{
	opacity: 1;
}

/* mood */

#mood{
	width: 100%;
	height: 11rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 7px;
	background-color:#0e0e5b;
	position: relative;
}
#mood > div{
	width: 6rem;
	height: 6rem;
	margin-right: 13px;
	margin-left: 3px;
	position: relative;
}
#mood #station{
	width:13rem;
	height: 13rem;
	position: relative;
}

#mood #outer{
	position: absolute;
	top: 27%;
	left: 0.1px;
	height: 100px;
	width: 100%;
	background-color: #ecec07;
}
#mood #inner{
	position: absolute;
	left: 5%;
	top: -9%;
	height: 120px;
	width: 90%;	
	background-color: #ecec07;
}
#mood #most-inner{
	position: absolute;
	top: -15%;
	left: 5%;
	height: 150px;
	width: 90%;
	background-color: orange;
}
#mood #most-inner img{
	position:absolute;
	top: 18%;
	left: 15%;
	height: 70%;
	width: 70%;
}
#mood img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	opacity: 0.5;
}
#mood h3{
	position: absolute;
	color: white;
	top:50%;
	left: 50%;
	font-size: 1.4rem;
	letter-spacing: 3px;
	transform: translate(-50%,-50%);
}

/* situation */

#situation{
	display: flex;
	width: 100%;
	justify-content: space-between;
}
#situation>div{
	width: 21rem;
	height: 12rem;
	position: relative;
	overflow: hidden;
}
#situation img{
	height: 100%;
	width: 100%;
	opacity: 0.5;
	transition: ease-in-out 0.5s;
}
#situation img:hover{

	transform: scale(1.18);
}

#situation p{
	color: white;
	font-size:1.9rem;
	font-weight: bold;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	cursor: default;
}

.latest{
	width: 100%;
	padding: 0.5rem;
	margin-bottom: 5rem;
	height: auto;
}
.latest>h2{

	color: white;

}
.lat-container{
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
	color: white;
	
}
.lat-container>div{

	height: 15rem;
	width: 11.5rem;

}

.lat-container img{
	height: 70%;
	width: 100%;
	margin-bottom: 1rem;
}
.lat-container p{
	margin-top: 0.6rem;
}



/* main-right */

#main-right{
	width: 25%;
	height:100vh;
	padding: 5px;
	padding: 1rem;
	position: sticky;
	top: 0;
	overflow-y:scroll;

}
#main-right::-webkit-scrollbar {
    display: none;
}

/* main-right-heading */

#main-right-heading{
	margin-bottom: 3rem;
}

#main-right h1{
	display: inline-block;
	color:white;
}
#main-right #head-right{
	display: inline-block;
	float:right;
	color: cyan;	
	position: relative;
}

#main-right #head-right h2{
	display: inline-block;
	margin-right: 0.8rem;
}

#arrow{
	display: inline-block;
	height: auto;
	width: 1.2rem;
	margin: auto;
	
}
#button{
	display: none;
}
#arrow i{
	transform: rotate(180deg);
	font-size: 2rem
}
#arrow-list{
	position: absolute;
	top:3rem;
	right: 0rem;
	width: 13rem;
	height: auto;
	padding: 5px;
	font-size: 1.3rem;
	background-color: #222;
	display: none;

}
#arrow label{
  	cursor: pointer;
}
#arrow-list p{

	color: white;
	line-height: 3.5rem;
	letter-spacing: 3.3px;
	margin-left: 1.3rem;
}
#arrow-list #border{
	border-bottom: 1px solid white;
}

#button:checked ~ #arrow-list{
  display: block;
}



/* main-right-content */

#main-right-content td{
	color:silver ;
	height: 5rem;
	width: 4rem;
	font-size: 1.2rem;
	padding: 5px;
	margin-left: 1rem;

}
#main-right-content .td{
	text-align: center;
}
#main-right-content td img{
	height: 100%;
	width: 100%;
	width: 5rem;
	border-radius: 5px;
}

#main-right-content .heart{
	text-align: right;
	cursor: pointer;
	color: blue;
	font-size: 1.5rem;
}
#main-right-content .space{
	width: 10rem;
	text-align: center;
	font-size: 1.1rem;
	line-height: 2.1rem;
}